In [33]:
import polars as pl

In [34]:
# Checking the current file location

!dir

 Volume in drive C is Windows
 Volume Serial Number is 5E9C-93AA

 Directory of C:\Users\mp5667di\Desktop\DH_comparisons

09/04/2024  08:01 AM    <DIR>          .
09/04/2024  07:35 AM    <DIR>          ..
09/03/2024  11:44 AM                66 .gitattributes
09/04/2024  07:35 AM    <DIR>          .ipynb_checkpoints
09/04/2024  08:01 AM            21,976 comparing_league_wide_ERA.ipynb
09/04/2024  07:55 AM    <DIR>          Data
09/03/2024  11:44 AM                26 README.md
               3 File(s)         22,068 bytes
               4 Dir(s)  20,219,375,616 bytes free

In [35]:
pitching = pl.read_csv("./Data/lahman_1871-2023_csv/Pitching.csv")
pitching.head()

shape: (5, 30)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬─────┬──────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ R   ┆ SH  ┆ SF  ┆ GIDP │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ --- ┆ ---  │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64 ┆ i64  │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪═════╪══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 8   ┆ 0   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 25  ┆ 1   ┆ 3   ┆ 2    │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 24  ┆ 2   ┆ 1   ┆ 1    │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 32  ┆ 3   ┆ 2   ┆ 4    │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 23  ┆ 2   ┆ 1   ┆ 2    │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴─────┴──────┘

In [36]:
# There are 7 types of leagues 

pitching['lgID'].unique().to_list()

['AA', 'AL', 'FL', 'UA', 'NA', 'PL', 'NL']

In [37]:
# Part1 - Q5

league_ERA = (pitching
              .select(['yearID','lgID','ER','IPouts'])
              .filter(pl.col('yearID') >= 1946)
              .filter(pl.col('lgID').is_in(['AL','NL']))
              .groupby(['yearID','lgID'])
              .agg(pl.col('ER').sum().alias('total_runs'),
                   pl.col('IPouts').sum().alias('total_outs')
                  )
              .with_columns(league_ERA = (pl.col('total_runs')/pl.col('total_outs'))*27)
              .sort(pl.col('yearID'))
             )
league_ERA.head()

shape: (5, 5)
┌────────┬──────┬────────────┬────────────┬────────────┐
│ yearID ┆ lgID ┆ total_runs ┆ total_outs ┆ league_ERA │
│ ---    ┆ ---  ┆ ---        ┆ ---        ┆ ---        │
│ i64    ┆ str  ┆ i64        ┆ i64        ┆ f64        │
╞════════╪══════╪════════════╪════════════╪════════════╡
│ 1946   ┆ NL   ┆ 4202       ┆ 33254      ┆ 3.41174    │
│ 1946   ┆ AL   ┆ 4306       ┆ 33186      ┆ 3.503345   │
│ 1947   ┆ NL   ┆ 4956       ┆ 32902      ┆ 4.066987   │
│ 1947   ┆ AL   ┆ 4560       ┆ 33228      ┆ 3.705309   │
│ 1948   ┆ NL   ┆ 4814       ┆ 32867      ┆ 3.954666   │
└────────┴──────┴────────────┴────────────┴────────────┘

In [38]:
# Part1 - Q6

DH_rule = (league_ERA
             .select(['yearID','lgID','total_runs','total_outs','league_ERA'])
             .with_columns(DH_rule = pl.when((pl.col('yearID') < 1973) & (pl.col('lgID') == 'AL'))
                                       .then('No')
                                       .otherwise('Yes')
                          )
             .with_columns(DH_rule = pl.when((pl.col('yearID') >= 2022) & (pl.col('yearID') == 2020) & (pl.col('lgID') == 'NL'))
                                       .then('Yes')
                                       .otherwise('No')
                          )
            )
DH_rule.head()

shape: (5, 6)
┌────────┬──────┬────────────┬────────────┬────────────┬─────────┐
│ yearID ┆ lgID ┆ total_runs ┆ total_outs ┆ league_ERA ┆ DH_rule │
│ ---    ┆ ---  ┆ ---        ┆ ---        ┆ ---        ┆ ---     │
│ i64    ┆ str  ┆ i64        ┆ i64        ┆ f64        ┆ str     │
╞════════╪══════╪════════════╪════════════╪════════════╪═════════╡
│ 1946   ┆ NL   ┆ 4202       ┆ 33254      ┆ 3.41174    ┆ No      │
│ 1946   ┆ AL   ┆ 4306       ┆ 33186      ┆ 3.503345   ┆ No      │
│ 1947   ┆ NL   ┆ 4956       ┆ 32902      ┆ 4.066987   ┆ No      │
│ 1947   ┆ AL   ┆ 4560       ┆ 33228      ┆ 3.705309   ┆ No      │
│ 1948   ┆ NL   ┆ 4814       ┆ 32867      ┆ 3.954666   ┆ No      │
└────────┴──────┴────────────┴────────────┴────────────┴─────────┘

In [39]:
DH_rule.write_csv("./Data/DH_rule.csv")

In [40]:
batting = pl.read_csv("./Data/lahman_1871-2023_csv/Batting.csv")
batting.head()

shape: (5, 24)
┌───────────┬────────┬───────┬────────┬───┬─────┬─────┬──────┬───────┐
│ playerID  ┆ yearID ┆ stint ┆ teamID ┆ … ┆ SH  ┆ SF  ┆ GIDP ┆ G_old │
│ ---       ┆ ---    ┆ ---   ┆ ---    ┆   ┆ --- ┆ --- ┆ ---  ┆ ---   │
│ str       ┆ i64    ┆ i64   ┆ str    ┆   ┆ i64 ┆ i64 ┆ i64  ┆ str   │
╞═══════════╪════════╪═══════╪════════╪═══╪═════╪═════╪══════╪═══════╡
│ aardsda01 ┆ 2004   ┆ 1     ┆ SFN    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2006   ┆ 1     ┆ CHN    ┆ … ┆ 1   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2007   ┆ 1     ┆ CHA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2008   ┆ 1     ┆ BOS    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
│ aardsda01 ┆ 2009   ┆ 1     ┆ SEA    ┆ … ┆ 0   ┆ 0   ┆ 0    ┆ null  │
└───────────┴────────┴───────┴────────┴───┴─────┴─────┴──────┴───────┘

In [41]:
# Part2 

SLG = (batting
      .select(['yearID','lgID','AB','H','2B','3B','HR'])
      .filter((pl.col('yearID') >= 1946) &
               (pl.col('lgID').is_in(['AL','NL']))
             )
      .groupby(['yearID','lgID'])
      .agg((pl.col('H').sum() + pl.col('2B').sum()*2 + pl.col('3B').sum()*3 + pl.col('HR').sum()*4).alias('numerator'),
           (pl.col('AB').sum()).alias('denominator')
          )
      .with_columns(SLG = pl.col('numerator')/pl.col('denominator'))
      .sort(pl.col('yearID'))
      )
SLG.head()

shape: (5, 5)
┌────────┬──────┬───────────┬─────────────┬──────────┐
│ yearID ┆ lgID ┆ numerator ┆ denominator ┆ SLG      │
│ ---    ┆ ---  ┆ ---       ┆ ---         ┆ ---      │
│ i64    ┆ str  ┆ i64       ┆ i64         ┆ f64      │
╞════════╪══════╪═══════════╪═════════════╪══════════╡
│ 1946   ┆ NL   ┆ 17660     ┆ 42094       ┆ 0.419537 │
│ 1946   ┆ AL   ┆ 18262     ┆ 42239       ┆ 0.432349 │
│ 1947   ┆ NL   ┆ 19704     ┆ 42434       ┆ 0.464345 │
│ 1947   ┆ AL   ┆ 18107     ┆ 42002       ┆ 0.431099 │
│ 1948   ┆ NL   ┆ 19234     ┆ 42256       ┆ 0.455178 │
└────────┴──────┴───────────┴─────────────┴──────────┘

In [42]:
SLG.write_csv("./data/SLG.csv")